* {
	margin: 0;
	padding:0;
}

body {
	background: rgb(177,162,128);
}

div#accContainer {
	width: 75%;
	margin: 0 auto;
	font-family: Arapey, serif;
}

div.endorsement {
	border: 1px solid #5d3b39;
	background: rgba(255,255,255,.5);
	border-radius: 15px;
	margin: 15px 0;
	display: flex;
	width: 100%;
}

div.textBox {
	margin: 0;
	padding: 10px;
}

p.endorseText {
	font-size: 1.25rem;
	padding: 5px;
	margin: 0;
}

p.celebrityName {
	font-style: italic;
	text-align: right;
	font-size: 1.25rem;
	margin: 0;
}

div.imgBox {
	padding: 5px;
}

img.headshot {
	width: 200px;
	height: 200px;
	border-radius: 15px;
}

div.review {
	font-size: 2rem;
	font-style: italic;
	text-align: center;
	margin: 10px 0;
	color: #5d3b39
}

